@aColor: #7a9998;
@aColor-hover: #282399;

@containerMaxWidth:1300px;
@containerWidth:1000px;
@containerMinWidth:500px;

body, html{
  font-size: 14px;
  margin: 0;
  padding:0;
  font-family:"microsoft yahei",simhei;
}


.hide{
  display: none;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  transition: color 0.3s;
  color: @aColor;
  &:hover{
    color: @aColor-hover;
  }
}

input[type=text]{
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #a6a6a6;
}

.site-container{
  width: @containerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}
.display-flex{
  display: flex;
  position: relative;
}
input{
  margin: 0;
}
.text-right{
  text-align: right;
  padding-right: 6px;
}
.text-center{
  text-align: center;
}

.normal-color{
  color:#666;
}
.black-color{
  color:black;
}
.bold-font{
  font-weight: bold;
}

.box--has-shadow{
  box-shadow: 0.1rem 0 0 0 #d2d2d2, -0.1rem 0 0 0 #d2d2d2, 0 0.1rem 0 0 #b6b6b6, 0 0.2rem 0 0 #d2d2d2, 0.2rem 0 0 0 #e6e6e6, -0.2rem 0 0 0 #e6e6e6, 0 0.3rem 0 0 #e6e6e6, 0 -0.1rem 0 0 #e6e6e6
}
.box--is-rounded{
  border-radius: 4px;
}
.box--white{
  background: white;
}
.box{
  padding: 0 16px;
}

/** padding-bottom 小 **/
.p-b-h{
  padding-bottom: 8px;
}
.p-b{
  padding-bottom: 16px;
}
/** padding-top  **/
.p-t{
  padding-top: 16px;
}
.p-t-h{
  padding-top: 8px;
}
.p-l-h{
  padding-left: 8px;
}
.p-l{
  padding-left: 16px;
}
.p-r{
  padding-right: 16px;
}
.p-r-h{
  padding-right: 8px;
}

.m-b-h{
  margin-bottom: 8px;
}
.m-b{
  margin-bottom: 16px;
}
.m-t-h{
  margin-top: 8px;
}
.m-t{
  margin-top: 16px;
}
.m-l{
  margin-left: 16px;
}
.m-l-h{
  margin-left: 8px;
}
.m-r{
  margin-right: 16px;
}
.m-r-h{
  margin-right: 8px;
}

.have-top-border{
  border-top:1px solid #e0dfdf;
}
.display-table{
  display: table;
  width: 100%;
  >div{
    display: table-cell;
    padding: 0 8px;
  }
}

span{display: inline-block}

.normal-hr{
  height: 0;
  overflow: hidden;
  border-top: 1px solid #dddddd;
  margin-top: 16px;
  margin-bottom: 16px;
}




