<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="./css/nav.css" >
<div class="site-nav">
    <div class="nav-container">
        喵，欢迎来天猫
        <ul class="nav-item">
            <li>
                <span>快速导航</span>
                <ul>
                    <li>
                        <a href="/">回到首页</a>
                    </li>
                    <li>
                        <a href="/cart.html">购物车</a>
                    </li>
                    <li>
                        <a href="/user">用户中心</a>
                    </li>
                    <li>
                        <a href="">全部订单</a>
                    </li>
                    <li>
                        <a href="">消息</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>