@import "_util/base";

.cart-container {
  width: @containerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}
.cart-list {

  .bag-banner{
      background: white;
      margin-bottom: 16px;
      .b-wrapper{
        padding: 8px 16px;
        line-height: 24px;
    }
  }


  .select-all{
    flex: 0 0 60px;
    input[type=checkbox]{
      vertical-align: middle;
    }
  }
  .c-t-c-product{
    flex: auto;
  }
  .c-t-c-price{
    flex: 0 0 150px;
  }
  .c-t-c-amount{
    flex: 0 0 100px;
  }
  .c-t-c-subtotal{
    flex: 0 0 100px;
  }
  .c-t-c-operator{
    flex: 0 0 120px;
  }

}
.inset-row{
  font-size: 20px;
  padding-bottom: 8px;
}

.product-img{
  flex: 0 0 150px;
}
.product-info{
  flex: auto;
}
.p-n{
  width: 55%;
  min-width: 150px;
}
.p-p-s{
  width: 15%;
  min-width: 50px;
}
.p-p-c{
  width: 15%;
}
.input-price{
  width: 60px;
}
.p-p-t{
  width: 15%;
}

.cart-action-group{
  background: linear-gradient(to bottom,#fff 0,#f2f2f2 70%,#f2f2f2 100%);
  margin-left: -16px;
  margin-right: -16px;
  padding-right: 8px;
}